* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p { 
    line-height: 25px;
    padding-inline: 20px;
    font-size: 15px;
}

.home {
    color: #17121292;
    text-decoration: none;
}

.sobremim {
    background-color: #f2f2f2;
    padding: 30px;
    display: block;
    border-radius: 10px;
}

.container main {
    flex: 1 1 0;
    background-color: transparent;
    border: 0;
}


.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #f7f7f7;
    padding: 40px;
    max-width: 800px;
    border-radius: 20px;
    margin: 40px auto;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1)
}


.apresentacao img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 1px 1px 15px -4px #4c86af;
}

.apresentacao .minitexto {
    text-align: left;
    max-width: 400px;
}

.apresentacao h2 {
    color: #333;
    margin-bottom: 10px;
}

.apresentacao p {
    color: #555;
    font-size: 16px;
    margin-bottom: 15px;
}

.resumo {
    display: block;
    text-align: center;
    padding: 30px;
}

.resumo dt {
    justify-content: space-around;
}

.resumo a {
    text-decoration: none;
    color: #8b7676;
}